/* This scss files contains the styling classes and id's only used from the Home page.*/

.main__signin {
  font-family: fantasy;
  justify-content: center;
}
.main__signin_input {
  height: 20px;
  width: 150px;
  border: 1px solid black;
  padding: 10px;
}

.main {
  display: flex;
  flex-direction: column-reverse;
}

#copyright {
  font-size: small;
  justify-content: center;
}
