.main {
  display: flex;
  flex-direction: column;
}

.moviecard {
  border: 3px solid darkgreen;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 80px;
  background-color: rgba(195, 238, 130, 0.89);
}

.moviecardheading {
  font-family: fantasy;
  text-align: center;
}

.moviecardimage {
  width: 200px;
  border: 2px solid green;
  justify-content: center;
}

.moviecardtext {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: fantasy;
}
