*,
*::after,
*::before {
  box-sizing: border-box;
}

/* This is the file  for the footer in general (Not the nav bar.) */

.bottom-nav {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px;
  background-color: rgba(2, 144, 51, 63%);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
