/* This file contains the classes and id's for the header and the headline.*/

.header {
  font-family: fantasy;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: darkgreen;
  color: white;
}

.header__headline {
  font-size: 25px;
  margin-bottom: 2px;
}
