*,
*::after,
*::before {
  box-sizing: border-box;
}

/* This is the main styling file. It contains the imports from the 
components and pages. It contains also the main structure from the project except navbar and footer. */

@import "components/footer.scss";
@import "components/header.scss";
@import "components/nav.scss";
@import "pages/home.scss";

body {
  font-size: 16px;
  margin: 0px;
  background-color: white;
}

.underline {
  margin: 0px;
}
