*,
*::after,
*::before {
  box-sizing: border-box;
}

@import "components/footer.scss";
@import "components/header.scss";
@import "components/nav.scss";
@import "pages/home.scss";

body {
  font-size: 16px;
  margin: 0px;
  background-color: white;
}

.underline {
  margin: 0px;
}
